/**
 * @author Avetis Sahakyan
 * @site http://naghashyan.com
 * @mail avetis.sahakyan@naghashyan.com
 * @year 2021
 * @version 1.0.0
 */

// Checkbox
// Here are the styles for checkboxes. For more custom need to change in project


/********   colors include from variables   ***********/

@mixin glob-map-get-checkbox($key) {
  $bgtype: false;

  @if $key == bgweb {
    $bgtype: $bgweb;
  } @else {
    @if glob-map-deep-get($bgSectionColors, "#{$key}") {
      $bgtype: glob-map-deep-get($bgSectionColors, "#{$key}");
    }
  }

  @if $bgtype {
    .checkbox-item {
      label {
        &:hover {
          [type="checkbox"] {

            // Unchecked style
            &:not(:checked) + span:before {
              @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "inbox", "unchecked", "hover") { #{$prop}: $value; }
            }

            &:not(:checked) + span:after {
              @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "outbox", "unchecked", "hover") { #{$prop}: $value; }
            }

            // Checked style
            &:checked {
              + span:before {
                @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "inbox", "checked", "hover") { #{$prop}: $value; }
              }

              + span:after {
                @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "outbox", "checked", "hover") { #{$prop}: $value; }
              }
            }
          }
        }

        [type="checkbox"] {

          // Unchecked style
          &:not(:checked) + span:before {
            @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "inbox", "unchecked", "default") { #{$prop}: $value; }
          }

          &:not(:checked) + span:after {
            @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "outbox", "unchecked", "default") { #{$prop}: $value; }
          }

          // Checked style
          &:checked {
            + span:before {
              @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "inbox", "checked", "default") { #{$prop}: $value; }
            }

            + span:after {
              @each $prop, $value in glob-map-deep-get($bgtype, "checkbox", "outbox", "checked", "default") { #{$prop}: $value; }
            }
          }
        }
      }
    }
  }
}


/*-------------------------------------------*/


.checkbox-item {
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:focus {
      & + span {
        box-shadow: 0 2px 6px rgba($primaryColor,0.46);
      }
    }
  }

  [type="checkbox"]:not(:checked) + span:not(.lever):before {
    top: 0;
  }

  [type="checkbox"] {
    + span {
      position: relative;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      width: 20px;
      padding-left: 0;
      line-height: 20px;
      font-size: 1rem;
      user-select: none;
      float: left;
      margin-right: 12px;
    }

    // General
    + span:after {
      border-radius: 2px;
    }

    + span:before,
    + span:after {
      content: '';
      left: 0;
      position: absolute;
      /* .1s delay is for check animation */
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
      z-index: 1;
    }

    // Unchecked style
    &:not(:checked) + span:before {
      width: 0;
      height: 0;
      left: 3px;
      top: 10px;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }

    &:not(:checked) + span:after {
      height: 20px;
      width: 20px;
      top: 0;
      z-index: 0;
    }

    // Checked style
    &:checked {
      + span:before {
        top: 3px;
        left: 2px;
        width: 7px;
        height: 12px;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
      }

      + span:after {
        top: 0;
        width: 20px;
        height: 20px;
        z-index: 0;
      }
    }

    &:disabled {
      cursor: initial;
    }

    &:disabled + span:not(.lever):before {
      opacity: 1;
    }

    &:disabled + span:not(.lever):after {
      opacity: 0.4;
    }
  }
}
