// ToDo

.icons-box {
  top: 31px;
  right: 10px;
  z-index: 495;
  font-size: 14px;
  position: absolute;
  display: flex;
  align-content: center;

  &:hover {
    z-index: 500;
  }

  .icon-tooltip {
    font-size: 20px;
    color: $primaryColor;
    margin-right: 5px;
    position: relative;

    /*      max-width: 1199.98px       */
    @include media-breakpoint-down(lg) {
      font-size: 17px;
    }

    &:last-child {
      margin-right: 0;
    }

    & + .icon-tooltip {
      z-index: $zindex-items - 5;
    }

    &.rule-btn {
      //right: 35px;

      &:hover {
        cursor: pointer;
      }
    }

    i {
      &:hover {
        & + .tooltip {
          opacity: 1;
          right: 30px;
          pointer-events: auto;
        }
      }
    }

    .tooltip {
      opacity: 0;
      background-color: #ffffff;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      width: 250px;
      font-size: 14px;
      line-height: 19px;
      padding: 10px;
      border-radius: 6px;
      color: #2d3748;
      box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.14);
      transition: opacity 0.3s ease-in-out, right 0.2s;
      z-index: 150;
      pointer-events: none;

      @include media-breakpoint-down(md) {
        width: 200px;
      }

      &:after {
        width: 12px;
        height: 12px;
        right: -6px;
        top: 50%;
        transform: translate(0, -50%) rotate(135deg);
        content: "";
        display: block;
        position: absolute;
        background-color: #ffffff;
        border-top: 0 none;
        border-right: 0 none;
      }
    }
  }

  .icon-calendar {
    font-size: 17px;
    margin-right: 7px;
    pointer-events: none;
  }
}


/*-------------products product pricing checkbox----------------*/

.inbound-freight-result-message {
  background-color: #ffffff;
  position: absolute;
  top: -4px;
  transform: translate(0, -50%);
  font-size: 14px;
  line-height: 19px;
  padding: 10px;
  border-radius: 6px;
  color: #2d3748;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.14);
  transition: opacity 0.3s ease-in-out, right 0.2s;
  z-index: 150;
  pointer-events: none;

  &:after {
    transform: rotate(135deg);
    width: 12px;
    height: 12px;
    right: 50%;
    top: 87%;
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    border-top: 0 none;
    border-right: 0 none;
  }
}
