.minimize-button {
  position: absolute;
  top: 35px;
  z-index: $zindex-fixed;
  transition: left 0.25s ease;
  left: 250px;

  @include media-breakpoint-down(lg) {
    left: 191px;
  }

  &:hover {
    left: 253px;

    @include media-breakpoint-down(lg) {
      left: 194px;
    }
  }

  &.btn-to-close {
    left: 50px;

    &:hover {
      left: 53px;
    }

    button {
      .icon-svg17l {
        display: none;
      }

      .icon-svg17 {
        display: block;
      }
    }
  }

  button {
    width: 34px;
    height: 44px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    font-size: 22px;
    cursor: pointer;
    padding-right: 4px;

    i {
      color: glob-map-deep-get($bgSectionColors, "colors", "color");
    }

    .icon-svg17l {
      display: block;
    }
    .icon-svg17 {
      display: none;
    }
  }
}

/*--------------------------*/

.main-nav {
  overflow-x: hidden;
  transition: width 0.3s ease,max-width 0.3s ease;
  overflow-y: auto;
  margin: 0;
  border-radius: 0 0 15px 15px;
  width: 260px;
  max-width: 260px;

  @include media-breakpoint-down(lg) {
    width: 200px;
    max-width: 200px;
  }

  @include media-breakpoint-up(lg) {
    &.minimal-nav {
      width: 57px;
      max-width: 57px;

      .logo-menu {
        height: 81px;
        margin-right: 0;
        padding: 0;
        margin-left: 0;
        margin-bottom: 6px;
      }

      .logo-content {
        padding: 0;
        padding-bottom: 10px;
        padding-right: 8px;

        .logo-block {
          .logo-box {
            text-align: center;
            padding: 0;

            img {
              width: 41px;
              margin-top: 22px;

              &:first-child {
                display: none;
              }
              &:last-child {
                display: inline-block;
              }
            }
          }
        }
      }
      .side-nav {
        .nav-item {
          & > a {
            margin-right: 0;
            padding-right: 9px;
            align-items: center;
            justify-content: center;
            padding-left: 0;

            &.active {
              padding-right: 65px;
              border-radius: 15px 0 0 15px;

              .round-add-on {
                display: inline-block;
              }
            }

            i {
              margin-right: 0;
            }
            span {
              display: none;
              max-width: 0;
              opacity: 0;
              pointer-events: none;
              transition: max-width 0.15s ease-out;
            }
            .arrow-item {
              display: none;
            }
          }

          i {
            &.right-icon {
              display: none;
            }
          }

          .side-nav-inner {
            a {
              padding-left: 0;
              padding-right: 14px;
              align-items: center;
              justify-content: center;

              span {
                display: none;
              }
              i {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .logo-menu {
    padding-bottom: 24px;
    padding-right: 20px;
    padding-left: 14px;
    height: 83px;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;

    @include glob-map-get-sectionColors(bg-aside);

    @include media-breakpoint-down(lg) {
      position: relative;
      padding-bottom: 15px;

      &:before {
        border-bottom: 1px solid;
        content: "";
        position: absolute;
        left: -5px;
        right: 0;
        bottom: 0;
        opacity: 0.3;
      }
    }

    .menu-block {
      display: none;

      button {
        padding: 0;
        background-color: transparent;
        border: none;

        &:hover {
          box-shadow: none;
        }

        i {
          font-size: 24px;
        }
      }
    }
  }
  .logo-content {
    padding-right: 0;
    padding-top: 20px;

    .logo-block {
      .logo-box {
        width: 100%;
        margin: 0 auto;
        padding: 0;

        svg {
          width: 100%;
        }

        img {
          width: 100%;

          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  .side-nav {
    margin: 0;

    .nav-item {
      transition: border-radius 0.7s ease;
      border-radius: 30px 0 0 30px;

      &.not-opening {
        &.active {
          border-radius: 30px 0 0 30px;
        }
      }
      &.active-closed {
        @include glob-map-get-sectionColors(bgweb2);

        border-radius: 30px 0 0 30px;

        a.collapsible-header-item{
          color: $primaryColor;
          font-weight: 600;
        }
      }

      &.not-opening {
        & > a {
          border-radius: 30px 0 0 30px;
        }
      }

      &.not-opening {
        &.active {
          & > a {
            color: $primaryColor;
          }
        }
      }
      &.active {
        border-radius: 15px 0 0 15px;

        @include glob-map-get-sectionColors(bgweb2);

        & > a {
          font-weight: 600;
          color: inherit;

          &:hover {
            background-color: rgba(255,255,255,0.1);
          }

          & > i {
            color: $primaryColor;
          }
          & > svg {
            path {
              fill: $primaryColor;
            }
          }
          .arrow-item {
            transform: rotate(180deg);
            transform-origin: center;
            color: $primaryColor;
          }

          .icon-menu {
            color: $primaryColor;
          }
        }

        .side-nav-inner {
          a {
            color: inherit;
          }
        }
      }

      & > a {
        min-height: 49px;
        line-height: 18px;
        padding: 11px 50px 12px 10px;
        border-radius: 22px 0 0 22px;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        transition: background-color 0.2s ease, color 0.2s ease;

        span {
          max-width: 400px;
          opacity: 1;
          pointer-events: auto;
          transition: max-width 0.2s ease, opacity 0.15s ease;
        }

        .arrow-item {
          width: 20px;
          position: absolute;
          right: 23px;
          height: 20px;
          top: 50%;
          margin-right: 0;
          margin-top: -11px;
          transition: transform 0.4s ease;
        }

        .round-add-on {
          opacity: 0;
          transition: opacity 0.2s ease;
          pointer-events: none;
          width: 30px;
          height: 30px;
          position: absolute;
          top: -29px;
          right: 0;

          &.bottom {
            top: auto;
            bottom: -29px;
          }
        }

        svg {
          width: 27px;
          height: 23px;
          margin-right: 13px;

          path {
            fill: currentColor;
          }
        }
        i {
          vertical-align: middle;
          width: 27px;
          height: 23px;
          font-size: 20px;
          margin-right: 13px;
          position: relative;
          top: 1px;
          text-align: center;
        }

        & > i {
          vertical-align: middle;

          &.material-icons {
            width: 23px;
            margin-right: 8px;
            position: relative;
            top: -2px;
          }
        }

        &:hover {
          background-color: rgba(255,255,255,0.1);
        }
      }

      .side-nav-inner {
        background: transparent;
        box-shadow: 0 0 0;
        height: auto;
        border-radius: 0 0 0 30px;
        margin-bottom: 5px;
        margin-top: 0;
        padding-bottom: 10px;
        display: none;

        a {
          min-height: 35px;
          width: 100%;
          padding: 5px 0 5px 15px;
          line-height: 18px;
          display: flex;
          align-items: center;

          &:hover, &.active {
            color: $primaryColor;

            span {
              color: $primaryColor;
            }
          }

          i {
            font-size: 30px;
            margin-right: 17px;
            width: 17px;
            height: 19px;
            text-align: center;
          }
        }
      }
    }
  }
}
.mobile-menu-open-btn {
  display: none;
}

@include media-breakpoint-down(lg) {
  .mobile-menu-open-btn {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: -10px;
    vertical-align: middle;
  }
  .main-nav {
    background-color: glob-map-deep-get($bgSectionColors, "bg-aside", "colors", "background-color");
    position: fixed;
    z-index: $zindex-modal;
    max-width: 250px;
    width: 250px;
    overflow: visible;
    left: 0;
    top: 0;
    padding-left: 5px;
    transition: transform 0.3s ease, transform 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0;
    transform: translate(-120%, 0);
    padding-top: 0;

    & + .main-overlay-for-all-purposes {
      display: none;
      background-color: rgba(0,0,0,0.7);
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: $zindex-modal-backdrop;
    }

    &.minimal-nav {
      box-shadow: 0 6px 12px rgba(0,0,0,0.42);
      transform: translate(0, 0);
      border-radius: 0;

      & + .main-overlay-for-all-purposes {
        display: block !important;
      }
      & + .content-box {
        filter: blur(3px);
        pointer-events: none;
      }

      .minimize-button {
        left: 235px;

        &:hover {
          left: 235px;
        }

        button .icon-svg17l {
          display: block;
        }
        button .icon-svg17 {
          display: none;
        }
      }
    }
    & + .content-box {
      transition: filter 0.3s ease;
      pointer-events: visible;
    }

    .side-nav {
      margin: 0;
      overflow: auto;
      padding-top: 10px;

      @include glob-hide-scrollbar();
    }
    .minimize-button {
      top: 14px;
      left: 235px;

      &:hover {
        left: 235px;
      }

      button .icon-svg17l {
        display: none;
      }
      button .icon-svg17 {
        display: block;
      }
    }
  }
}
