.pagging-box {
  margin-top: 0;
  padding-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .pagination-box {
    display: inline-flex;
    align-items: center;

    &.dataTables_info {
      margin-right: 15px;
    }
  }
  .choices__list--dropdown {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.page-ctrl {
  @include media-breakpoint-down(md) {
    & > * {
      display: none !important;
    }
    .items-count {
      display: block !important;
      font-size: 0;

      .items-count-main {
        font-size: 12px;
        vertical-align: middle;
      }
    }
  }

  span {
    font-size: 14px;
    line-height: 19px;
    opacity: 0.7;

    &:first-child {
      font-weight: 500;
      opacity: 0.9;
    }
  }
  .choices__inner {
    min-height: 26px;
    padding: 3px 23px 3px 8px;
    border-radius: 4px;
  }
  .choices[data-type*='select-one']:after {
    font-family: 'icomoon' !important;
    content: "\e903";
    top: 8px;
    border: 0;
    width: auto;
    height: auto;
    right: 4px;
  }

  .input-field {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 0;
    margin: 0;

    &.col {
      input {
        max-width: 66px;
        background-color: transparent;
      }
    }

    input {
      max-width: 66px;
      border-radius: 4px;
      margin: 0 6px;
      position: relative;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-weight: 500;
      height: 26px;
      padding: 4px 9px 4px 8px;

      &:before {
        content: "";
      }
    }

    .choices {
      margin: 0 6px;
    }
  }
}
.pagination {
  text-align: right;
  margin-bottom: 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;

  .waves-effect {
    text-align: center;
    display: inline-block;
    margin-right: 3px;

    &.active {
      background-color: $primaryColor;
      color: $buttonBasicTypeTextColor;
    }

    a {
      font-size: 12px;
      line-height: 16px;
      min-width: 20px;
      height: 20px;
      padding: 3px 2px;
      display: block;

      @include media-breakpoint-down(md) {
        min-width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    i {
      font-size: 15px;
    }
  }
}
